.HomeDiv {
  display: flex;
  flex-direction: column;
}
.HomeDiv_section1 {
  background: #142f32;
  padding: 8em 0em;
  position: relative;
  overflow: hidden;
  color: #fff;
  padding-top: 14em;
}
.HomeDiv_section1_img2 {
  position: absolute;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  opacity: 0.4;
  mix-blend-mode: color-burn;
  /* mix-blend-mode: multiply; */
  height: 100%;
  object-fit: cover;
}
.HomeDiv_section1_img {
  position: absolute;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  opacity: 0.7;
  mix-blend-mode: multiply;
  height: 100%;
  object-fit: cover;
}
.HomeDiv_section1_area_div2_cont3_icon_div {
  background: #e0ffc7;
  padding: 7px;
  border-radius: 10px;
}
.HomeDiv_section1_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.HomeDiv_section1_area_div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.HomeDiv_section1_area_title {
  font-size: 92px;
  font-weight: 600;
  line-height: 1.1;
}
.HomeDiv_section1_area_para {
  margin-top: 20px;
  font-size: 16px;
  color: #b7ced1;
  line-height: 1.5;
}
.HomeDiv_section1_area_btn_div {
  margin-top: 3em;
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HomeDiv_section1_area_btn2 {
  width: 150px;
  padding: 18px;
  border-radius: 50px;
  cursor: pointer;
  background: #0bad86;
  color: #fff;
  border: none;
}
.HomeDiv_section1_area_btn {
  width: 150px;
  padding: 18px;
  border-radius: 50px;
  cursor: pointer;
  background: #0bad86;
  color: #fff;
  border: none;
}
.HomeDiv_section1_area_div2 {
  width: -webkit-fill-available;
  margin-top: 5em;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.HomeDiv_section1_area_div2_cont1 {
  width: 100%;
  height: 370px;
  overflow: hidden;
  border-radius: 20px;
  margin-right: 2em;
  /* padding: 2em; */
}

.HomeDiv_section1_area_div2_cont1_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.HomeDiv_section1_area_div2_cont2 {
  background: #1c3b3e;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em;
  height: 200px;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  margin-right: 2em;
}
.HomeDiv_section1_area_div2_cont2_title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}
.HomeDiv_section1_area_div2_cont2_para {
  font-size: 14px;
  line-height: 1.5;
}
.HomeDiv_section1_area_div2_cont3 {
  margin-right: 2em;
  background: #fff;
  padding: 2em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 150px;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #000;
}
.HomeDiv_section1_area_div2_cont3_title {
  font-size: 12px;
  margin-bottom: 10px;
  color: #656565;
}
.HomeDiv_section1_area_div2_cont3_para {
  font-weight: 600;
  font-size: 24px;
}
.HomeDiv_section1_area_div2_cont3_para_tag {
  font-size: 12px;
  margin-top: 10px;
  color: #656565;
}
.HomeDiv_section1_area_div2_cont4 {
  background: #e0ffc7;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em;
  height: 200px;
  text-align: center;
  color: #000000;
  border-radius: 20px;
  margin-right: 2em;
}
.HomeDiv_section1_area_div2_cont5 {
  width: 80%;
  height: 300px;
  overflow: hidden;
  border-radius: 20px;
  /* margin-right: 15px; */
  background: #0cad86;
  padding: 2em;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.HomeDiv_section1_area_div2_cont5_para {
  margin-bottom: 1em;
  line-height: 1.5;
  font-weight: 500;
  font-size: 18px;
}
/* === */
/* === */
/* === */

/* === */
/* === */
/* === */
/* === */
.HomeDiv_section2_area_img {
  margin-right: 1em;
  width: 85px;
}

.HomeDiv_section2 {
  padding: 4em;
  background: #fff;
  position: relative;
}

.HomeDiv_section3 {
  padding: 6em 0em;
  position: relative;
  background: #f5f8f9;
  color: #ffffff;
  overflow: hidden;
}
.HomeDiv_section3_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}
.HomeDiv_section3_area_cont1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 4em;
}
.HomeDiv_section3_area_cont1_title {
  font-size: 52px;
  font-weight: 600;
  color: #000000;
}
.HomeDiv_section3_area_cont1_para {
  margin-top: 10px;
  font-size: 16px;
  color: #6a8388;
  width: 60%;
  line-height: 1.5;
  text-align: center;
}
.HomeDiv_section3_area_cont2 {
  /* display: grid
; */
  width: -webkit-fill-available;
  display: grid;
  /* width: 75%; */
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: flex-start;
  grid-gap: 20px;
  gap: 30px;
}
.HomeDiv_section3_area_cont2_div1 {
  background: #ffffff;
  padding: 2em;
  border-radius: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000;
  cursor: pointer;
  transition: all 0.3s linear;
}
.HomeDiv_section3_area_cont2_div1:hover {
  background: #142f32;
  color: #fff;
  transition: all 0.3s linear;
  transform: scale(1.05);
}
.HomeDiv_section3_area_cont2_div1_area1 {
  display: flex;
  flex-direction: column;
}
.HomeDiv_section3_area_cont2_div1_area1_title {
  font-weight: 600;
  font-size: 18px;
}
.HomeDiv_section3_area_cont2_div1_area1_para {
  font-size: 12px;
  color: #707f82;
  margin-top: 10px;
  line-height: 1.5;
}
.HomeDiv_section4 {
  padding: 6em 0em;
  position: relative;
  background: #ffffff;
}
.HomeDiv_section4_area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.HomeDiv_section4_area_title {
  font-size: 52px;
  font-weight: 600;
  color: #000000;
}
.HomeDiv_section4_area_body {
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  margin-top: 4em;
}
.HomeDiv_section4_area_body_cont1 {
  position: relative;
  background: #e6f1f3;
  margin-right: 1em;
  padding: 2em;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
  position: relative;
  color: #05859f;
}
.HomeDiv_section4_area_body_cont1_body {
  color: #000;
  display: flex;
  flex-direction: column;
}
.HomeDiv_section4_area_body_cont1_body_title {
  font-size: 18px;
  font-weight: 600;
}
.HomeDiv_section4_area_body_cont1_body_para {
  font-size: 14px;
  color: #000;
  margin-top: 10px;
  opacity: 0.5;
  line-height: 1.5;
}
.HomeDiv_section4_area_body_cont1_span_absolute {
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 100px;
  font-weight: 700;
  color: inherit;
  opacity: 0.2;
}
.HomeDiv_section4_area_body_cont1:nth-child(2) {
  background: #fef3f1;
  color: #c6649c;
  margin-bottom: 5em;
}
.HomeDiv_section4_area_body_cont1:nth-child(3) {
  background: #dcf1ec;
  color: #12a17f;
  margin-right: 0;
}

.HomeDiv_section5 {
  position: relative;
  padding: 6em 0em;
  background: #f5f8f9;
}

.HomeDiv_section5_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.HomeDiv_section5_area_1 {
  width: 100%;
  margin-right: 3em;
  display: flex;
  flex-direction: column;
}

.HomeDiv_section5_area_1_tag {
  font-size: 10px;
  border: solid 1px #09363c;
  padding: 6px 10px;
  width: fit-content;
  border-radius: 50px;
  line-height: 1;
  color: #09363c;
  margin-bottom: 2em;
}
.HomeDiv_section5_area_1_title {
  font-size: 52px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 15px;
}
.HomeDiv_section5_area_1_para {
  color: #88979c;
  line-height: 1.5;
  margin-bottom: 3em;
  width: 80%;
}
.HomeDiv_section5_area_1_btn {
  width: 150px;
  padding: 15px;
  border-radius: 50px;
  border: none;
  background: #0bad86;
}
.HomeDiv_section5_area_2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HomeDiv_section5_area_2_img {
  width: 85%;
}
.HomeDiv_section6 {
  position: relative;
  padding: 6em 0em;
  background: #142f32;
  color: #fff;
  overflow: hidden;
}
.HomeDiv_section6_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.HomeDiv_section6_area_1 {
  width: 100%;
  margin-right: 4em;
  padding: 2em 0em;
  background: #1c3b3e;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HomeDiv_section6_area_1_img {
  width: 80%;
}
.HomeDiv_section6_area_2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.HomeDiv_section6_area_2_title {
  font-size: 52px;
  font-weight: 600;
  color: #fff;
}
.HomeDiv_section6_area_2_para {
  margin-top: 10px;
  font-size: 18px;
  color: #c7d2d4;
}

.HomeDiv_section6_area_2_body {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}
.HomeDiv_section6_area_2_body_cont1 {
  display: flex;
  margin-bottom: 2em;
}
.HomeDiv_section6_area_2_body_cont1_icon_div {
  margin-right: 10px;
}
.HomeDiv_section6_area_2_body_cont1_area {
  display: flex;
  flex-direction: column;
}
.HomeDiv_section6_area_2_body_cont1_area_title {
  font-weight: 600;
  margin-bottom: 10px;
}
.HomeDiv_section6_area_2_body_cont1_area_para {
  font-size: 14px;
  line-height: 1.5;
  color: #9eb5b8;
}
.HomeDiv_section7 {
  position: relative;
  padding: 6em 0em;
  background: #f5f8f9;
}
.HomeDiv_section8 {
  position: relative;
  padding: 6em 0em;
  background: #142f32;
  overflow: hidden;
}

.HomeDiv_section8_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1c3b3e;
  border-radius: 25px;
  padding: 2em;
  color: #ebf7f4;
  position: relative;
  z-index: 1;
}
.HomeDiv_section8_area_img {
  width: 150px;
}
.HomeDiv_section8_area_title {
  font-size: 52px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 15px;
}
.HomeDiv_section8_area_para {
  width: 50%;
  line-height: 1.5;
  text-align: center;
  color: #bdccce;
}
.HomeDiv_section8_area_btn {
  margin-top: 3em;
  padding: 15px;
  width: 150px;
  border: none;
  border-radius: 50px;
  background: #0cad86;
  color: #fff;
}
.HomeDiv_section1_area_div2_mobile {
  display: none !important;
}
/* ===== */
/* ===== */
/* ===== */
/* ===== */
@media (max-width: 991px) {
  .HomeDiv_section1_area_div2_cont1 {
    width: 180px;
    height: 250px;
    overflow: hidden;
    border-radius: 20px;
    margin-right: 1em;
    /* padding: 2em; */
  }
  .HomeDiv_section1_area_div2_cont2 {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
    height: 100px;
    text-align: center;
    border-radius: 20px;
    margin-right: 1em;
  }
  .HomeDiv_section1_area_div2_cont3 {
    margin-right: 1em;
    padding: 2em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 110px;
    display: flex;
    justify-content: center;
    width: 180px;
  }

  .HomeDiv_section1_area_div2_cont4 {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
    height: 100px;
    text-align: center;
    border-radius: 20px;
    margin-right: 1em;
  }
  .HomeDiv_section1_area_div2_cont5 {
    width: 140px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 1em;
  }
  .HomeDiv_section1_area_div2 {
    display: none;
  }
  .HomeDiv_section1_area_div2_mobile {
    /* display: block; */
    width: -webkit-fill-available;
    margin-top: 5em;
    display: flex !important;
    align-items: flex-end;
    justify-content: space-between;
  }
  .rfm-initial-child-container {
    align-items: flex-end !important;
  }
  .rfm-marquee {
    align-items: flex-end !important;
  }
  .HomeDiv_section1_area_title {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.1;
  }
  .HomeDiv_section1_area_para {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5;
  }
  .HomeDiv_section1 {
    padding: 4em 0em;
    position: relative;
    overflow: hidden;
    padding-top: 10em;
  }
  .HomeDiv_section3_area_cont1_title {
    font-size: 32px;
  }
  .HomeDiv_section3_area_cont1_para {
    font-size: 14px;
  }
  .HomeDiv_section3 {
    padding: 4em 0em;
  }
  .HomeDiv_section3_area_cont2 {
    /* display: grid
; */
    width: -webkit-fill-available;
    display: grid;
    /* width: 75%; */
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: flex-start;
    grid-gap: 20px;
    gap: 10px;
  }

  .HomeDiv_section4_area_body_cont1 {
    position: relative;
    margin-right: 0em;
    padding: 2em;
    margin-bottom: 2em;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    position: relative;
    width: -webkit-fill-available;
  }
  .HomeDiv_section4_area_body_cont1:nth-child(2) {
    margin-bottom: 2em;
  }
  .HomeDiv_section4_area_body {
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    margin-top: 3em;
    flex-direction: column;
  }
  .HomeDiv_section4 {
    padding: 4em 0em;
  }
  .HomeDiv_section5_area_1 {
    width: 100%;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }
  .HomeDiv_section5_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .HomeDiv_section5_area_1_title {
    font-size: 32px;
  }
  .HomeDiv_section5 {
    position: relative;
    padding: 4em 0em;
  }
  .HomeDiv_section6 {
    position: relative;
    padding: 4em 0em;
    overflow: hidden;
  }
  .HomeDiv_section6_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    flex-direction: column;
  }
  .HomeDiv_section6_area_1 {
    width: 70%;
    margin-right: 0;
    margin-bottom: 2em;
  }
  .HomeDiv_section6_area_2_title {
    font-size: 32px;
    font-weight: 600;
  }
  .HomeDiv_section7 {
    position: relative;
    padding: 4em 0em;
  }
  .HomeDiv_section5_area_2 {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .HomeDiv_section8 {
    position: relative;
    padding: 4em 0em;
    background: #142f32;
    overflow: hidden;
  }
  .HomeDiv_section8_area_title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .HomeDiv_section8_area_para {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .HomeDiv_section1 {
    padding: 3em 0em;
    padding-top: 7em;
  }
  .HomeDiv_section1_area_btn_div {
    margin-top: 2em;
  }
  .HomeDiv_section1_area_title {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.1;
  }
  .HomeDiv_section1_area_para {
    margin-top: 20px;
    font-size: 13px;
    line-height: 1.5;
  }
  .HomeDiv_section1_area_div2_mobile {
    margin-top: 3em;
  }
  .HomeDiv_section1_area_div2_cont2 {
    width: 60px;
    padding: 3em;
    height: 80px;
  }
  .HomeDiv_section1_area_div2_cont4 {
    width: 60px;
    height: 80px;
  }
  .HomeDiv_section1_area_div2_cont1 {
    width: 160px;
    height: 220px;
    overflow: hidden;
    border-radius: 20px;
    margin-right: 1em;
  }
  .HomeDiv_section1_area_div2_cont5 {
    width: 105px;
    height: 160px;
  }
  .HomeDiv_section1_area_div2_cont5_para {
    margin-bottom: 1em;
    line-height: 1.5;
    font-weight: 500;
    font-size: 14px;
  }
  .rfm-marquee {
    align-items: flex-end !important;
  }
  .rfm-initial-child-container {
    align-items: flex-end !important;
  }
  .HomeDiv_section1_area_div2_cont3 {
    width: 160px;
  }
  .HomeDiv_section3_area_cont1_title {
    font-size: 28px;
  }
  .HomeDiv_section3_area_cont1_para {
    width: 100%;
  }
  .HomeDiv_section3_area_cont2 {
    /* display: grid
; */
    width: -webkit-fill-available;
    display: -webkit-inline-box;
    /* width: 75%; */
    /* grid-template-columns: repeat(1, minmax(0, 1fr)); */
    /* justify-content: flex-start; */
    /* grid-gap: 20px; */
    /* gap: 10px; */
    overflow: auto;
  }
  .HomeDiv_section3_area_cont2_div1 {
    padding: 2em;
    border-radius: 20px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
  }
  .HomeDiv_section4_area_body_cont1 {
    height: 150px;
  }
  .HomeDiv_section5_area_1_title {
    font-size: 28px;
  }
  .HomeDiv_section5_area_2_img {
    width: 100%;
  }
  .HomeDiv_section5_area_2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .HomeDiv_section6_area_2_body_cont1:last-child {
    margin-bottom: 0;
  }
  .HomeDiv_section6_area_1 {
    width: 100%;
  }
  .HomeDiv_section8_area {
    padding: 2em 1em;
  }
  .HomeDiv_section8_area_para {
    width: 100%;
  }
}
