* {
  margin: 0;
  padding: 0;
  font-family: "Utendo", sans-serif;
  text-decoration: none !important;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Utendo", sans-serif;

  -webkit-font-smoothing: antialiased !important;
  background: #ffffff;
  color: #000;
}
body::-webkit-scrollbar {
  background: #ffffff !important;
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #2c2c2c !important;
  border-radius: 50px;
}
.App {
  display: flex;
  flex-direction: column;
  position: relative;
  /* height: 100vh; */
  /* overflow: scroll; */
}
.container {
  width: -webkit-fill-available;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
button {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
button:hover {
  transform: translate3d(0, -5px, 0);
  transition: 0.3s ease-in-out;
}
html {
  scroll-behavior: smooth;
  transition: 2s ease-in;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(234 234 234) inset !important;
}
input:focus-visible {
  outline: none;
  border: solid;
  border-color: #42c98a75;
  border-width: 1px;
  box-shadow: 0px 0px 1px 4px #42c98a75;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
input:-internal-autofill-selected {
  background-color: #222035a8 !important;
}
::selection {
  background-color: #42c98a75;
  color: #fff;
}
button:focus {
  outline: unset !important;
}

input[type="checkbox"]:checked + .checkBox_agree_div_body_label:before {
  content: "\2713";
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  background: #22ad62;
  /* height: 24px; */
  /* line-height: 1.1; */
}
@media (max-width: 999px) {
  .container {
    max-width: 720px;
  }
}
